/*BODY*/

  body {
    font-family:  "Cormorant Garamond", serif;
    color:#5A3B2E;
    background-color: #e5dbc7;
    margin: 0;
  }

  .page {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f7f3eb;
  }
  .idiom_card {
    background-color: #A9D3E9;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px;
  }
  .idiom_card1 {
    background-color: #fcfaf6;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px;
  }
  /*TITLE*/
  
  .title {
    background-color: #1f3a2e;
    color: white;
    text-align: center;
    margin-bottom: 0;
    border-bottom: 4px solid #c8a96b;
    padding: 20px 0;
  }
  
  .title h1 {
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 5px;
  }
  
  .title p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;

  }
  
  /*SECTIONS*/
  
  .section {
    display: block;
    align-items: flex-start;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .section_back h2{
    font-size: 30px;
    margin-left: 40px

  }
  .section_back p{
    margin-top: 10px;
    font-family: 'Georgia', serif;
    color: #7A665C;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.0;
    margin-left: 40px

  }
  
  .section h2 {
    margin-bottom: 20px;
  }
  .section_charts {
    display: flex;
  ;
    padding: 0 40px;
  }
  .section_chart {
    display: flex;
    flex-direction: column;
  }
  .section_chart h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .s_title_block {
    margin-top: 0;
    display: inline-block;
    margin-bottom: 40px;
  }
  .s_title_line {
    width: 1000px;
    height: 4px;
    background: linear-gradient(to right, #ff5e00, #ffb347);
    margin-top: 10px;
    margin-left: 10px;
  }


  .section1 {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .section1 h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #5A3B2E;
    margin-left: 40px;
  }
  .section1_chart p {
    margin-top: 10px;
    font-family: 'Georgia', serif;
    color: #7A665C;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
  }
  .s1_title_block {
    display: inline-block;
  }
  
  .s1_title_line {
    width: 1000px;
    height: 4px;
    background: linear-gradient(to right, #ff5e00, #ffb347);
    margin-top: 10px;
    margin-left: 40px;
  }
  .section1_charts {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 0 40px;
  }
  .section1_chart h3 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
  }


  .section2 {
  margin-top: 20px;
  margin-bottom: 100px;
  }
  .section2 h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color:#5A3B2E;
  margin-left: 40px;
  }
  .section2_chart p {
    margin-top: 10px;
    font-family: 'Georgia', serif;
    color: #7A665C;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
  }
  .s2_title_block {
    display: inline-block;
  }
  .s2_title_line {
    width: 1000px;
    height: 4px;
    background: linear-gradient(to right, #ff5e00, #ffb347);
    margin-top: 10px;
    margin-left: 40px;
  }
  .section2_charts {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0 40px;
  }
  .section2_chart h3 {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
  }

  .section3 {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .section3 h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color:#5A3B2E;
    margin-left: 40px;
  }
  .section3_chart p {
      margin-top: 10px;
      font-family: 'Georgia', serif;
      max-width: 700px;
      color: #7A665C;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
  }
    .s3_title_block {
      display: inline-block;
  }
  .s3_title_line {
      width: 1000px;
      height: 4px;
      background: linear-gradient(to right, #ff5e00, #ffb347);
      margin-top: 10px;
      margin-left: 40px;
  }
  .section3_charts {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 0 40px;
  }
    .section3_chart h3 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
    
    
  .section4 {
      margin-top: 20px;
      margin-bottom: 100px;
      }
  .section4 h2 {
      margin-bottom: 20px;
      font-size: 30px;
      color:#5A3B2E;
      margin-left: 40px;
  }
  .s4_title_block {
        display: inline-block;
  }
  .s4_title_line {
        width: 1000px;
        height: 4px;
        background: linear-gradient(to right, #ff5e00, #ffb347);
        margin-top: 10px;
        margin-left: 40px;
  }
  .section4_charts {
      display: flex;
      gap: 100px;
      justify-content: center;
      padding: 0 40px;
  }
    .section4_chart h3 {
      font-size: 22px;
      margin-bottom: 10px;
      text-align: center;
    }
  .section4_chart p {
        margin-top: 10px;
        font-family: 'Georgia', serif;
        max-width: 700px;
        color: #7A665C;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
  }


  .section5 {
    margin-top: 20px;
    margin-bottom: 100px;
      }
  .section5 h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color:#5A3B2E;
    margin-left: 40px;
        }
  .s5_title_block {
   display: inline-block;
        }
  .s5_title_line {
   width: 1000px;
   height: 4px;
   background: linear-gradient(to right, #ff5e00, #ffb347);
   margin-top: 10px;
   margin-left: 40px;
      }
  .section5 p {
    margin-left: 40px;
    margin-top: 40px;
    font-family: 'Georgia', serif;
    max-width: 1600px;
    color: #7A665C;
    font-weight: 500;
    font-size: 20px;
    line-height: 2.0;
    }
     
  .section6 {
    margin-top: 20px;
    margin-bottom: 100px;
    }
  .section6 h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color:#5A3B2E;
    margin-left: 40px;
    }
  .s6_title_block {
    display: inline-block;
    }
  .s6_title_line {
    width: 1000px;
    height: 4px;
    background: linear-gradient(to right, #ff5e00, #ffb347);
    margin-top: 10px;
    margin-left: 40px;
    }
    .section6 p {
      margin-left: 40px;
      margin-top: 40px;
      font-family: 'Georgia', serif;
      color: #7A665C;
      font-weight: 500;
      font-size: 18px;
      line-height: 2.0;
      }
  /*FOOTER */
  
  .footer {
    margin-top: 100px;
    font-size: 24px;
    background-color: #332b10;
    color:#b8860b;
    padding: 5px 0;
  }